*{
    .graytable{
        background-color: #C0C0C0;
        border-collapse: collapse;
        


    }
    .graytable th, .graytable td {
        border: 1px solid gray;
        padding: 8px;
      }
}